apiVersion: v1
kind: Service
metadata:
  name: appwrite-executor
  namespace: appwrite
  labels:
    app: appwrite-executor
spec:
  type: ClusterIP
  ports:
    - name: http
      port: 80
      targetPort: http
      protocol: TCP
  selector:
    app: appwrite-executor
